<mapper namespace="com.yyl.mybatis.dao.UserMapper">
    <select id="queryUserList" resultType="com.yyl.mybatis.domain.User">
        select * from user
    </select>
    <select  id="queryUser" paramType="com.yyl.mybatis.domain.User" resultType="com.yyl.mybatis.domain.User">
        select * from user where id =#{id}
    </select>
</mapper>